<navigation-widget></navigation-widget>

<div class="junkyard p-5">
  <div class="columns is-multiline is-tablet">
    <div class="column is-one-quarter-desktop is-one-third-tablet" *ngFor="let story of publishedStories;let i = index;">
      <a [routerLink]="['/storyboard', story.id]" target="_blank">
        <div class="card">
          <div class="card-image">
            <figure class="image is-3by2">
              <img [src]="story.cover" />
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-6 mb-1" [title]="story.title">{{ story.title }}</p>
                <span class="heading" [title]="story.subtitle">{{ story.subtitle }}</span>
                <p class="subtitle is-6">by <span class="tag is-info is-normal">{{ story.author }}</span></p>
              </div>
            </div>
            <div class="">
              <div class="tags are-medium">
                <span class="tag is-normal" *ngFor="let tag of story.tags">{{ tag }}</span>
              </div>
            </div>
          </div>
          <footer class="card-footer">
            <ng-container *ngFor="let cast of story.casts;let i=index;">
              <a target="_blank" href="https://shonenjunk.xyz/unit-00/gallery/{{cast}}" 
                class="card-footer-item" 
                *ngIf="i < 3">
                <img [src]="getJunkieAvatar(cast)">
              </a>
            </ng-container>
          </footer>
        </div>
      </a>
    </div>
  </div>
</div>