
html {
  overflow: auto;
}

.navbar {
  background-color: #333;
  a {
    color: #fff;
  }
  .brand {
    font-family: 'Bangers';
    img {
      height: 30px;
    }
    h1 {
      color: #ff0;
      margin-bottom: 0;
    }
  }
}

.media-content {
  
  span,p {
    //white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.card-footer-item {
  padding: .25em;
}