<navigation-widget></navigation-widget>

<div class="container m-5">  
  
  <div class="columns">
    <div class="column">
      <h1 class="title is-4">Story Builder</h1>
      <div class="container">
        <my-stories-listing-widget (storySelected)="storySelected($event)"></my-stories-listing-widget>
      </div>
    </div>
    <div class="column is-two-thirds-tablet">
      <div class="container">
        <story-editor-widget [story]="selectedStory$ | async"></story-editor-widget>
      </div>
    </div>
  </div>
</div>