<div id="storyboard-wrapper">
  <audio #bgmPlayer autoplay><source src="{{bgm}}"/></audio>
  <audio #audioPlayer autoplay><source src="{{audio}}"/></audio> 
  <div class="background" style="{{customBackgroundStyle}}">
    <!-- Main Title -->
    <section #titlePanel class="hero is-small is-dark slider title-slider" [class.hidden]="!showTitlePanel">
      <div class="hero-body brand">
        <div>
          <img src="assets/images/shonen_junk_logo.svg" />
          <p>JUNKYARD STORIES <span>presents</span></p>
        </div>
        <p class="title">
          {{ title }}
        </p>
        <p class="subtitle">
          {{ subtitle }}
        </p>
        <p class="instruction">[press space key or touch screen]</p>
      </div>
    </section>
  
    <!-- Scene Title -->
    <section #scenePanel class="hero slider scene-slider" [class.hidden]="!showScenePanel">
      <div class="hero-body">
        <p class="subtitle">
          {{ scenetitle }}
        </p>
      </div>
    </section>

    <!-- Closed Caption Title -->
    <section #scenePanel class="hero slider cc-slider" [class.hidden]="!closedcaption">
      <div class="hero-body">
        <p class="subtitle">
          [{{ closedcaption }}]
        </p>
      </div>
    </section>
    
    <!-- Narration Panel -->
    <div class="modal narration" [class.is-active]="narration">
      <div class="modal-background"></div>
      <div class="modal-content">
        <span class="dialogue narration">{{ narration }}</span>
        
      </div>
    </div>

    <!-- Stage Panel -->
    <div #stagePanel class="stage">
      <span class="text-effect {{txtEffectPos}}" *ngIf="txtEffect">{{ txtEffect }}</span>

      <div class="image-snippet" *ngIf="imgSnippet">
        <img src="{{imgSnippet}}" />
      </div>
      <div class="avatar left" *ngIf="lCharCache[0]">
        <div class="name speech-bubble left" *ngIf="lCharCache[0].name">
          <span class="dialogue" [class.unknown]="lCharCache[0].name === '?????:'">
            {{ lCharCache[0].name }}
          </span>
        </div>
        <div class="speech-bubble left" *ngIf="lCharCache[0].dialogue">
          <span class="dialogue {{lCharCache[0].dialogueType}}">
            {{ lCharCache[0].dialogue }}
          </span>
        </div>
        <div class="characters" *ngIf="lCharCache[0]">
          <img *ngFor="let char of lCharCache;let i = index;" class="char" [class.main]="i === 0" [src]="char.imageUrl"/>
        </div>
      </div>
      <div class="avatar right" *ngIf="rCharCache[0]">
        <div class="name speech-bubble right" *ngIf="rCharCache[0].name">
          <span class="dialogue" [class.unknown]="rCharCache[0].name === '?????:'">
            {{ rCharCache[0].name }}
          </span>
        </div>
        <div class="speech-bubble right" *ngIf="rCharCache[0].dialogue">
          <span class="dialogue {{rCharCache[0].dialogueType}}">
            {{ rCharCache[0].dialogue }}
          </span>
        </div>
        <div class="characters" *ngIf="rCharCache">
          <ng-container *ngFor="let char of rCharCache; let i = index; let l = count" >
            <img *ngIf="i < 8" class="char" [class.main]="i === l - 1" [src]="rCharCache[l - 1 - i].imageUrl"/>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>