html {
  overflow: hidden;
}
/*
  Z-indexes
  0 - background
  1 - snippet
  2 - main character
  3 - sub character
  4 - dialogue
  5 - weather effects
  6 - narrator character
  7 - narrator dialogue
  8 - word effects
  9 - scene slider
  10 - title
*/
#storyboard-wrapper {
  height: 100vh;
  background-color: #1e2029;

  .hidden {
    display: none;
  }

  .instruction {
    padding: 20px !important;
    color: #fff !important;
    font-size: 2vh !important;
    font-family: 'Press Start 2P', Courier, monospace !important;;
  }

  .background {
    display: flex;
    background-color: #1e2029;
    background-size: cover;
    height: 100%;
    width: 100%;
    align-items: center;
    -webkit-animation: fadeIn 4s; /* Chrome, Safari, Opera */
    animation: fadeIn 4s;

    .brand {
      img {
        width: 25vw;
      }

      p {
        font-family: 'Bangers';
        font-size: 4vh;
        color: #ffff00;
        margin-bottom: 20px;

        span {
          color: white
        }
      }

      .title, .subtitle {
        text-transform: uppercase;
        font-size: 6vh;
        font-family: 'Lalezar';
      }

      .subtitle {
        font-size: 3vh;
      }
    }

    .dialogue {
      font-size: 3.5vh;
      line-height: 5vh;
      padding: .6vw 1vw;
      color: white;
    }

    .narration {
      z-index: 7;
      margin: 25vh 0;
      padding: 3vw;

      .modal-content {
        text-align: center;
        overflow: hidden;
        width: 80vw;
      }

      .dialogue {
        padding: 0;
        margin: 0;
        font-size: 4.5vh;
        line-height: 9vh;
      }
    }

    .stage {
      .image-snippet {
        width: 100vw;
        text-align: center;

        img {
          max-width: 70vw;
          max-height: 80vh;
        }
      }

      .text-effect {
        z-index: 8;
        font-family: 'Bangers';
        font-size: 25vh;
        color: red;
        text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
        position: absolute;
        margin: 0 auto;

        &.pos-7 {
          top: 5vh;
          left: 7vh;
        }

        &.pos-8 {
          top: 5vh;
          left: 30vw;
        }

        &.pos-9 {
          top: 5vh;
          right: 7vh;
        }

        &.pos-4 {
          top: 32vh;
          left: 7vh;
        }

        &.pos-5 {
          top: 32vh;
          left: 30vw;
        }

        &.pos-6 {
          top: 32vh;
          right: 7vh;
        }

        &.pos-1 {
          bottom: 5vh;
          left: 7vh;
        }

        &.pos-2 {
          bottom: 5vh;
          left: 30vw;
        }

        &.pos-3 {
          bottom: 5vh;
          right: 7vh;
        }
      }

      .avatar {
        position: absolute;

        &.left {
          top: 5vh;
          left: 0;
        }

        &.right {
          bottom: 5vh;
          right: 0;
        }

        .char {
          max-width: 10vw;
          &.main {
            max-width: 20vw;
          }
        }

        .speech-bubble {
          font-family: 'Overpass Mono', Courier, monospace;
          position: absolute;
          top: 5vh;
          width: 65vw;

          .dialogue {
            background-color: black;

            &.serious {
              font-family: 'Akronim', Courier, monospace;
            }

            &.creepy {
              font-family: 'Creepster', Courier, monospace;
            }

            &.angry {
              font-size: 2.5vh;
              color: red;
              font-family: 'Gloria Hallelujah', Courier, monospace;
            }

            &.scared {
              font-family: 'Rubik Puddles', Courier, monospace;
            }

            &.whisper {
              font-family: 'Rubik Microbe', Courier, monospace;
            }

            &.redacted {
              font-family: 'Redacted Script', Courier, monospace;
            }

            &.monster {
              font-family: 'Eater', Courier, monospace;
            }
          }

          &.right {
            right: 20vw;
            text-align: right;
          }
          &.left {
            left: 20vw;
          }

          &.name {
            top: -2vh;

            &.left .dialogue {
              background: #0065ff;
            }
            &.right .dialogue {
              background: #f26522;
            }
            &.left .dialogue.unknown {
              background: #333333;
            }
            &.right .dialogue.unknown {
              background: #333333;
            }
          }
        }
      }
    }
  }
}

.slider {
  background-color: #0065ff;
  width: 100%;
  position: fixed;
}

.title-slider {
  text-align: center;
  z-index: 10;
  -webkit-animation: slideDown 4s 1;
  animation: slideDown 4s 1;
}

.cc-slider {
  background-color: rgba(10,10,10,.86);
  font-family: 'Overpass Mono';
  z-index: 9;
  text-align: left;
  position: fixed;

  .subtitle {
    color: #fff;
  }

  .hero-body {
    text-align: center;
    padding: 2vh 3vw;
  }
}

.scene-slider {
  background-color: #0065ff;
  z-index: 9;
  position: relative;
  top: 10vh;
  transform: translateX(100%);
  text-align: left;
  position: fixed;
  -webkit-animation: peek 3.5s 1;
  animation: peek 3.5s 1;

  .subtitle {
    color: #fff;
  }

  .hero-body {
    padding: 4vh 6vh;
  }
}

/* Chrome, Safari, Opera */
@-webkit-keyframes fadeIn {
  from {opacity: 0.0;}
  to {opacity: 1;}
}

/* Standard syntax */
@keyframes fadeIn {
  from {opacity: 0.0;}
  to {opacity: 1;}
}

@-webkit-keyframes slideDown {
  0% {
    transform: translateY(-300%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes slideDown {
  0% {
    transform: translateY(-300%);
  }
  100% {
    transform: translateY(0);
  }
}

@-webkit-keyframes peek {
  0% {
    transform: translateX(100%);
  }
  40% {
    transform: translateX(20%);
  }
  80% {
    transform: translateX(20%);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes peek {
  0% {
    transform: translateX(100%);
  }
  40% {
    transform: translateX(20%);
  }
  80% {
    transform: translateX(20%);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes typing {
  from { 
      width: 0% 
  }
  to { 
      width: 100% 
  }
}

@keyframes blink {
  from, to { 
      border-color: transparent 
  }
  50% { 
      border-color: orange; 
  }
}