<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item brand" href="#">
      <img src="assets/images/shonen_junk_logo.svg" height="30"/>
      <h1 class="title heading is-4">Junkyard Stories</h1> 
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item heading" [routerLink]="['/story-editor']">
        My Stories
      </a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-info" disabled>
            <strong>Connect</strong>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>